body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

.search-form {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 36px;
  margin-bottom: 32px;
}

.search-input {
  width: 272px;
  padding: 8px 16px;
  border-radius: 4px;
  outline: none;
  border: 1 solid #808080;
}

.search-button {
  width: 91px;
  height: 40px;
  padding: 8px 16px;
  background-color: #4e75ff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.loading-message {
  display: flex;
  justify-content: center;
  margin: 0;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 24px;
  padding: 20px;
}

.gallery-item {
  width: 360px;
  max-height: 200px;
  border-radius: 5px;
  border: 1px solid #808080;
  overflow: hidden; /* Ховаємо частини зображення, що виходять за межі */
  position: relative;
}

.gallery-image {
  width: 100%;
  display: block;
  transition: transform 0.3s ease;
}

.gallery-image:hover {
  transform: scale(1.05);
}

.info {
  background-color: white;
  padding: 10px;
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  /* max-height: 48px; */

  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  box-sizing: border-box;
}

.info p {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin: 5px 0;
  display: grid;
  text-align: center;
}

.info b {
  font-weight: 600;
  font-size: 12px;
}

.loader {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');
